.col-centered{
  float: none;
  margin: 0 auto;
  }
  /* eslint-disable */
  h1{
    margin-top: 0.3%;
    padding: 0.1%;
    color: #ffffff;
    font-family: "Blinker", sans-serif;
    font-weight:600;
    text-align: center;
    display: block;
    font-size: 5em;
    border-style: dotted;
    border-color: cyan;
    border-width: 2px;
    box-shadow:2px 2px 2px 2px cyan;
  }
  h6{
    margin-top: -15%;
    font-family: "Press Start 2P", sans-serif;
    font-size: 0.8em;
    opacity: 0;
    transition: all 0.2s linear 0s;
  }
  a, a:hover{
    text-decoration: none;
    color: #111111;
  }
  .card:hover h6{
    opacity: 1;
  }
  .container{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .crow{
    padding:10px;
    transform:translateX(3%);
  }
  .mcasette{
    position: relative;
    height:20vh;
    border-radius: 2%;
    transform: rotate(90deg);
  }
  .card{
    background: #f5f5f57f;
    border-radius: 2%;
    text-align: center;
    transition: all 0.2s linear 0s;
    margin: 1%;
  }
  .card:hover{
    transform:scale(1.1);
    /* background: #ffffff; */
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
  }
  .scasette{
    margin-top: -30px;
    width: 70%;
    transition: all 0.2s linear 0s;
    cursor: pointer;
    transform:  rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
  }
  .scasette:hover{
    transform:  rotate(90deg);
    box-shadow: 2px 2px 2px 2px #ffffff;
  }
  .content{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  @media only screen and (orientation: portrait)
  {
    h1{
      font-size: 3.5em;
    }
    .content{
      position: relative;
      overflow-y: hidden;
      text-align: center;
    }
    .scasette{
      width: 65%;
    }
    .crow{
      transform: none;
    }
    .card{
      width:80%;
      transform: translateX(12%);
    }
  }