<template>
  <div id="app" class="back-row-toggle splat-toggle">
    <router-view></router-view>
  </div>
</template>

<script>

import Home from './components/Home'
import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: {
    Home,
    HelloWorld
  }

}
</script>
