<template>
  <div id="Accomodation">
    <Rain/>
    <Navbar/>
    <div class="container jumbotron text-center mt-5">
      <div class="container row ml-0">
        <div class="col-lg-8 col-md-6 col-centered text-justify p-3 m-0">
          <h1 class="text-center">Accomodation</h1>
          <div class="text-center">
            <img src="@/assets/images/icons/accomodation.png">
          </div>
          <p class="pt-5">
            Accomodation will be provided to the delegates in the college hostel.
          </p>
          <p>
          Accomodation costs &#8377; 150 per day for both Gents and Ladies ( Food Excluded )
          </p>
          <p>
            For more details contact :-
            <br>
          </p>
          <br>
          <br>
          <big class="text-left"><big><big>Fazil : +91 9048157744</big></big></big>
          <br>
          <br>
          **Take ticket with respect to number of days you want to stay.
          <div class="container text-center pt-5">
            <a class="eightbit-btn" href="https://www.yepdesk.com/buy-tickets/5df49142e4b092c8dfd6b0fb/category/1579367337">
            Book Your Tickets
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Rain from '@/components/Rain'
import Navbar from '@/components/Navbar'

export default {
  name: 'Accomodation',
  components: {
    Rain,
    Navbar
  }
}
</script>

<style scoped>
*{
  color: #E4D8B4;
  font-family: Blinker;
  font-weight: bold;
}
p{
  font-size: 20px;
}
.col-centered{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2px #E4D8B4;
  border-radius: 20px;
  box-shadow: 5px 0 #272423,
              5px 5px #272423,
              5px -5px #272423,
              -5px 5px #272423,
              -5px 0 #272423,
              -5px -5px #272423,
              0 5px #272423,
              0 -5px #272423,
              -10px 0 #C35654,
              -10px -10px #C35654,
              10px 10px #C35654,
              10px -10px #C35654,
              -10px 10px #C35654,
              0 10px #C35654,
              0 -10px #C35654,
              10px 0 #C35654;
}
.col-centered:after{
  content: '';
  z-index: -1;
  background: rgb(255,255,255,0.05);
  position: absolute;
  filter: blur(200px);
  top:0;
  left:0;
  right: 0;
  bottom: 0;
}
.jumbotron{
  background: rgb(0,0,0,0);
}
.eightbit-btn {
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
</style>
