<template>
    <div id="Airshow" class="Informals row">
      <div class="scene col-lg-6 col-md-6">
        <div class="artboard">
          <div class="drone">
            <div class="drone__head">
              <div class="blade blade-one">
                <div class="blade__part-one"></div>
              </div>
              <div class="blade blade-two">
                <div class="blade__part-one"></div>
              </div>
              <div class="blade blade-three">
                <div class="blade__part-one"></div>
              </div>
              <div class="blade blade-four">
                <div class="blade__part-one"></div>
              </div>
              <div class="drone__body">
                <div class="drone__eye"></div>
              </div>
              <div class="drone__foots foots">
                <div class="foots__one foot"></div>
                <div class="foots__two foot"></div>
                <div class="foots__three foot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scene col-lg-6 col-md-6">
        <div class="frame">
          <div class="plane-container">
            <img src="../assets/images/highlights/jet.png" alt="plane">
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
</template>

<script>
export default {
  name: 'Airshow'
}
</script>

<style scoped>
* {
  margin: 0 auto;
  -webkit-user-select: none;
}
.Informals {
  position: relative;
  width: 100vw;
  height: 300px;
}
.scene{
  width: 100%;
  position: relative;
  background: url(https://thumbs.dreamstime.com/t/pixel-art-sunset-desert-pixel-art-sunset-desert-seamless-background-game-96712079.jpg);
  background-size: contain;
  overflow: hidden;
}

h5{
  text-align: center;
}

.drone {
  -webkit-animation: drone 1s ease-in-out infinite alternate;
          animation: drone 1s ease-in-out infinite alternate;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}
.drone__head {
  background-color: #BDE9EE;
  border-radius: 4.4px 4.4px 0 0;
  box-shadow: inset 5.5px 0 #B0DBE2;
  height: 16.5px;
  margin: 2.75px auto 0 auto;
  position: relative;
  width: 22px;
}
.drone__head:before {
  background-color: #D0F1F6;
  border-radius: 5.5px 5.5px 0 0;
  content: "";
  display: block;
  height: 2.75px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -2.75px;
  width: 8.25px;
}
.drone__body {
  background-color: #D0F1F6;
  border-radius: 4.4px;
  box-shadow: inset 11px 0 #BDE9EE;
  height: 22px;
  position: relative;
  width: 33px;
}
.drone__eye {
  background-color: #1C273C;
  border-radius: 13.2px;
  box-shadow: inset 1.65px 0 #516E74, inset 4.4px -1.1px #243A4B, inset 0.55px 0 0 3.85px #2B4553;
  height: 13.2px;
  position: absolute;
  right: 4.4px;
  top: 3.85px;
  width: 13.2px;
}
.drone__eye:before {
  background-color: #fff;
  border-radius: 1.65px;
  bottom: 3.85px;
  content: "";
  display: block;
  height: 1.65px;
  left: 3.85px;
  position: absolute;
  width: 1.65px;
}

.blade {
  position: absolute;
}
.blade:before, .blade:after {
  content: "";
  display: block;
}
.blade__part-one {
  -webkit-animation: rotate 0.1s linear infinite alternate;
          animation: rotate 0.1s linear infinite alternate;
}
.blade-one {
  bottom: 1.65px;
  left: -14.85px;
  z-index: 1;
}
.blade-one:before, .blade-one:after {
  background-color: #91D1DC;
}
.blade-one:before {
  border-radius: 6.6px 6.6px 0 0;
  height: 11px;
  width: 6.6px;
}
.blade-one:after {
  border-radius: 0 6.6px 6.6px 6.6px;
  height: 6.6px;
  width: 24.75px;
}
.blade-one .blade__part-one {
  background-color: #D0F1F6;
  border-radius: 3.3px;
  height: 3.3px;
  position: absolute;
  top: 2.2px;
  left: -10.45px;
  width: 27.5px;
}
.blade-two {
  bottom: 2.75px;
  left: -34.1px;
  z-index: -1;
}
.blade-two:before, .blade-two:after {
  background-color: #87BFC8;
}
.blade-two:before {
  border-radius: 6.6px 6.6px 0 0;
  height: 11px;
  width: 5.5px;
}
.blade-two:after {
  border-radius: 0 6.6px 6.6px 6.6px;
  height: 5.5px;
  width: 41.25px;
}
.blade-two .blade__part-one {
  background-color: #D0F1F6;
  border-radius: 3.3px;
  height: 3.3px;
  position: absolute;
  top: 2.2px;
  left: -10.45px;
  width: 27.5px;
}
.blade-three {
  bottom: 1.65px;
  right: -14.85px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -2;
}
.blade-three:before, .blade-three:after {
  background-color: #6AA7B0;
}
.blade-three:before {
  border-radius: 6.6px 6.6px 0 0;
  height: 11px;
  width: 6.6px;
}
.blade-three:after {
  border-radius: 0 6.6px 6.6px 6.6px;
  height: 6.6px;
  width: 24.75px;
}
.blade-three .blade__part-one {
  background-color: #D0F1F6;
  border-radius: 3.3px;
  height: 3.3px;
  position: absolute;
  top: 2.2px;
  left: -10.45px;
  width: 27.5px;
}
.blade-four {
  bottom: 2.75px;
  right: -34.1px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
}
.blade-four:before, .blade-four:after {
  background-color: #87BFC8;
}
.blade-four:before {
  border-radius: 6.6px 6.6px 0 0;
  height: 11px;
  width: 5.5px;
}
.blade-four:after {
  border-radius: 0 6.6px 6.6px 6.6px;
  height: 5.5px;
  width: 41.25px;
}
.blade-four .blade__part-one {
  background-color: #D0F1F6;
  border-radius: 3.3px;
  height: 3.3px;
  position: absolute;
  top: 2.2px;
  left: -10.45px;
  width: 27.5px;
}

.foots {
  position: relative;
}
.foots__one {
  background-color: #B0DBE2;
  border-radius: 3.3px 3.3px 0 0;
  height: 3.3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 49.5px;
}
.foots__one:before, .foots__one:after {
  background-color: #B0DBE2;
  border-radius: 0 0 3.3px 3.3px;
  height: 5.5px;
  position: absolute;
  top: 3.3px;
  width: 3.3px;
}
.foots__one:before {
  left: 0;
}
.foots__one:after {
  right: 0;
}
.foots__two, .foots__three {
  border-radius: 3.3px 3.3px 3.3px 0;
  height: 3.3px;
  width: 13.75px;
}
.foots__two:before, .foots__three:before {
  border-radius: 0 0 3.3px 3.3px;
  height: 5.5px;
  position: absolute;
  top: 3.3px;
  width: 3.3px;
}
.foots__two {
  background-color: #D0F1F6;
  left: 2.75px;
}
.foots__two:before {
  background-color: #D0F1F6;
  left: 0;
}
.foots__three {
  background-color: #89BFC8;
  left: 11px;
  z-index: -1;
}
.foots__three:before {
  background-color: #89BFC8;
  right: 0;
}

.foot {
  position: absolute;
  top: 0;
}
.foot:before, .foot:after {
  content: "";
  display: block;
}

@-webkit-keyframes drone {
  from {
    -webkit-transform: translate(0, 0) rotate(5deg) scale(2);
            transform: translate(0, 0) rotate(5deg) scale(2);
  }
  to {
    -webkit-transform: translate(50%, 100%) rotate(5deg) scale(2);
            transform: translate(50%, 100%) rotate(5deg) scale(2);
  }
}

@keyframes drone {
  from {
    -webkit-transform: translate(0, 0) rotate(5deg) scale(2);
            transform: translate(0, 0) rotate(5deg) scale(2);
  }
  to {
    -webkit-transform: translate(50%, 100%) rotate(5deg) scale(2);
            transform: translate(50%, 100%) rotate(5deg) scale(2);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
.artboard {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@-webkit-keyframes link {
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes link {
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.plane-container {
  height: 200px;
  text-align: center;
  animation: paper-plane-scoping 6s alternate infinite;
  -moz-animation: paper-plane-scoping 6s alternate infinite;
  -webkit-animation: paper-plane-scoping 6s alternate infinite;
  -ms-animation: paper-plane-scoping 6s alternate infinite;
  animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.plane-container img{
  width: 150px;
  animation: paper-plane-soaring 6s infinite;
  -moz-animation: paper-plane-soaring 6s infinite;
  -ms-animation: paper-plane-soaring 6s infinite;
  -webkit-animation: paper-plane-soaring 6s infinite;
}

@keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@-ms-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@-moz-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-ms-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
</style>
