<template>
  <div id="Ambassador">
    <Rain/>
    <Navbar/>
    <div class="container mt-5 p-5 ">
        <div class="form-group">
          <input v-model="code" type="text" class="form-control" placeholder="Referral Code" id="referral">
        </div>
      <div class="text-center">
        <button class="form-group btn btn-success" @click="search">Search</button>
      </div>
    </div>
    <div class="container m-1 p-5 details text-left" v-if="infos !== null && infos != 'No registrations using the above referral code'">
      <h3 class="btn btn-primary">REFERRAL CODE : <u>{{infos.data[0].REFERRAL}}</u></h3>
      <div v-bind:key="info.REFERRAL" v-for="info in infos.data">
        <h6>Name : {{info.NAME}}</h6>
        <h6>College : {{info.COLLEGE}}</h6>
        <br>
        <br>
        <br>
      </div>
      **Details are displayed as given by the user
    </div>
    <div class="m-1 p-5" :class="{details:infos}" v-else>
      <h2 class="btn btn-danger" v-if="infos != null">{{infos}}</h2>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Rain from '@/components/Rain'
import Navbar from '@/components/Navbar'
import axios from 'axios'
export default {
  name: 'Ambassador',
  data () {
    return {
      infos: null
    }
  },
  components: {
    Rain,
    Navbar
  },
  methods: {
    search () {
      axios.get('https://api.dyuksha.org/api/ambassador/' + this.code)
        .then(response => (this.infos = response))
        .catch(error => (this.infos = "No registrations using the above referral code"))
    }
  }
}
</script>
<style>
body{
  width: 96vw;
}
#app{
  width: 101.5%;
}
</style>
<style scoped>
*{
  font-family: blinker;
}
  #Ambassador{
    max-width: 100vw;
  }
  .row{
    margin: 0;
  }
  .details{
    color: #E4D8B4;
    border: solid #E4D8B4 2px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
