<template>
  <div class="Axios">
      {{ infos }}
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Vue',
  data () {
    return {
      infos: null
    }
  },
  mounted () {
    /* eslint-disable */
    console.log('https://api.dyuksha.org/api/events/' + this.$route.params.dept)

    if (this.$route.params.dept !== '') {
      axios
        .get('https://api.dyuksha.org/api/dummy/' + this.$route.params.dept,)
        .then(response => (this.infos = response))
    }
  }
}
</script>

<style scoped>

</style>
