<template>
  <div id="Contact">
    <Navbar/>
    <Rain/>
    <div class="row jumbotron">
      <div class="col-lg-6 text-center">
        <img id="dyuksha" src="@/assets/images/dyuksha.svg" alt="Map">
        <br>
        <br>
        <br>
        <a class="icons" href="https://www.facebook.com/Dyuksha20/">
            <img alt="" src="@/assets/images/icons/facebook.svg" class="icon2">
        </a>
        <a class="icons" href="https://twitter.com/Dyuksha_20">
            <img alt="" src="@/assets/images/icons/twitter.svg" class="icon2">
        </a>

        <a class="icons" href="https://www.instagram.com/dyuksha20/">
            <img alt="" src="@/assets/images/icons/instagram.svg" class="icon2">
        </a>

        <a class="icons" href="https://www.youtube.com/channel/UCLMOER5VtwwO91qTlqgjrkg">
            <img alt="" src="@/assets/images/icons/youtube.svg" class="icon2">
        </a>
        <br>
        <br>
        <br>
        <h3>NSS College of Engineering</h3>
        <br>
        <br>
        <h4>dyuksha@nssce.ac.in</h4>
        <br>
        <h6>Akathethara P.O.</h6>
        <h6>Palakkad, Kerala</h6>
        <h6>India. 678008</h6>
        <br>
        <br>
      </div>
      <div class="col-lg-6 text-center">
        <img id="map" src="@/assets/images/map.svg" alt="Map">
      </div>
    </div>
    <div class="row text-center section-2 py-5" style="margin: 0;">
        <div class="col-12 my-5">
            <h1>CONVENORS</h1>
        </div>

        <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="@/assets/images/team/abhinand.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Abhinand G K</h5>
            <p class="text-uppercase blue-text"><strong>+91 80862 87473</strong></p>
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/kunchu.gk">
                <img alt="" src="@/assets/images/icons/facebook.svg" class="icon"/>
            </a>

            <a class="p-2 fa-lg tw-ic" href="https://www.instagram.com/__abhi_gk_mkl__">
                <img alt="" src="@/assets/images/icons/instagram.svg" class="icon"/>
            </a>

            <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/abhinand-g-k-b0a683142/">
                <img alt="" src="@/assets/images/icons/linkidin.svg" class="icon"/>
            </a>
        </div>

        <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="@/assets/images/team/anand.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Anand G</h5>
            <p class="text-uppercase blue-text"><strong>+91 85473 65727</strong></p>
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/anandg.1998">
                <img alt="" src="@/assets/images/icons/facebook.svg" class="icon"/>
            </a>

            <a class="p-2 fa-lg tw-ic" href="https://www.instagram.com/vagabond_anand/">
                <img alt="" src="@/assets/images/icons/instagram.svg" class="icon"/>
            </a>

            <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/anand-g-b62829150">
                <img alt="" src="@/assets/images/icons/linkidin.svg" class="icon"/>
            </a>
        </div>

        <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="@/assets/images/team/sarang.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Sarang Raj</h5>
            <p class="text-uppercase blue-text"><strong>+91 99610 74488</strong></p>
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/Sarang.Raj521">
                <img alt="" src="@/assets/images/icons/facebook.svg" class="icon"/>
            </a>

            <a class="p-2 fa-lg tw-ic" href="https://www.instagram.com/__sarang_raj_">
                <img alt="" src="@/assets/images/icons/instagram.svg" class="icon"/>
            </a>

            <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/sarang-raj-ba7768131/">
                <img alt="" src="@/assets/images/icons/linkidin.svg" class="icon"/>
            </a>
        </div>

        <div class="row text-center section-4 py-5" style="margin: 0; text-align:center;">
            <div class="col-12 my-5">
                <h1>DESIGN HEAD</h1>
            </div>

            <div class="col-lg-4 col-md-4 mb-lg-0 mb-5"></div>

            <div class="col-lg-12 col-md-12 mb-lg-0 mb-5">
                <div class="avatar mx-auto" style="text-align:center;">
                    <img src="@/assets/images/team/vinesh.jpg" class="rounded-circle" alt="Sample avatar" >
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">VINESH M K</h5>
                <p class="text-uppercase blue-text"><strong>+91 88911 02327</strong></p>

                <a class="p-2 fa-lg fb-ic" href="https://dribbble.com/pulpfiction">
                    <img alt="" src="@/assets/images/icons/dribble.svg" class="icon"/>
                </a>

                <a class="p-2 fa-lg tw-ic" href="https://www.behance.net/vineshvinz261c">
                    <img alt="" src="@/assets/images/icons/behance.svg" class="icon"/>
                </a>

                <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/pulp_fiction._">
                    <img alt="" src="@/assets/images/icons/instagram.svg" class="icon"/>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 mb-lg-0 mb-5"></div>
        </div>
        <div class="row text-center section-4 py-5" style="margin: 0;">
            <div class="col-12">
                <h1 class="my-5">WEBSITE</h1>
            </div>
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="@/assets/images/team/allen.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Allen K Abraham</h5>
                <p class="text-uppercase blue-text"><strong>+91 81370 73386</strong></p>
                <a class="p-2 fa-lg fb-ic" href="https://github.com/allenabraham777">
                    <img alt="" src="@/assets/images/icons/github.svg" class="icon"/>
                </a>

                <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/allen-k-abraham-nssce/">
                    <img alt="" src="@/assets/images/icons/linkidin.svg" class="icon"/>
                </a>

                <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/_allen_k_abraham_/">
                    <img alt="" src="@/assets/images/icons/instagram.svg" class="icon"/>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="@/assets/images/team/rakesh.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Rakesh Kumar T</h5>
                <p class="text-uppercase blue-text"><strong>+91 81298 52760</strong></p>
                <a class="p-2 fa-lg fb-ic" href="https://github.com/Rk1229">
                    <img alt="" src="@/assets/images/icons/github.svg" class="icon"/>
                </a>

                <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/rakeshkumart/">
                    <img alt="" src="@/assets/images/icons/linkidin.svg" class="icon"/>
                </a>

                <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/rakesh_kumar_t/">
                    <img alt="" src="@/assets/images/icons/instagram.svg" class="icon"/>
                </a>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Rain from '@/components/Rain'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'Contact',
  components: {
    Navbar,
    Rain
  }
}
</script>

<style>
  body{
    width: 96vw;
    overflow-x: hidden;
  }
  #app{
      width: 105%;
  }
</style>
<style scoped>
  #Contact{
    position: relative;
    font-family: blinker;
    font-weight: bold;
  }
  .jumbotron{
    background: rgb(0,0,0,0);
    color: #E4D8B4;
    z-index: 10;
  }
  #map{
    width: 100%;
  }
  #dyuksha{
    width: 40%;
  }
  .icon2{
    width: 30px;
  }
  .section-2{
      /* width: 100%; */
      position: relative;
      margin: 0!important;
      color: #E4D8B4;
  }
  .section-4{
      position: relative;
      margin: 0!important;
      width: 100%;
      color: #E4D8B4;
      left:50%;
      transform: translateX(-50%);
}
  .icon{
      width: 20px;
      cursor: pointer;
  }

  .icon2{
      width: 30px;
      cursor: pointer;
  }
</style>
