<template>
  <div id="Departments">
    <Navbar/>
    <Rain/>
    <div class="container pt-5" >
        <div class="col-md-12">
            <div class="row" style="padding: 0!important;">
              <div class="col-12">
                <h1>EVENTS</h1>
              </div>
              <!-- <div class="col-lg-4">
                <img src="@/assets/images/e.png" alt="casette" class="mcasette" />
              </div> -->
              <div class="col-lg-12 content col-centered">
                <div class="row crow" >
                  <div v-bind:key="info.code" v-for="info in infos.data.event" class="card col-md-2 col-centered">
                    <a v-bind:href="'/events/details/'+$route.params.dept+'/'+info.code" >
                    <center>
                    <img :src="getImgUrl(info.code)" v-bind:alt="info.code"  class="scasette">
                    </center>
                    <h6>View details</h6>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import axios from 'axios'
import Rain from '@/components/Rain'

export default {
  Name: 'Departments',
  data () {
    return {
      infos: null
    }
  },
  components: {
    Navbar,
    Rain
  },
  mounted () {
    /* eslint-disable */
    console.log('https://api.dyuksha.org/api/events/' + this.$route.params.dept)

    if (this.$route.params.dept !== '') {
      axios
        .get('https://api.dyuksha.org/api/events/' + this.$route.params.dept,)
        .then(response => (this.infos = response))
        .catch(error => {
          console.log(error)
          location.href = '/404'
        })
    }
  },
  methods: {
    getImgUrl(card) {
    var images = require.context('@/assets/images/cards', false, /\.png$/)
    return images('./' + card + ".png")
  }
  }
}
</script>
<style scoped>
  @import '../assets/styles/listing.css';
</style>
