<template>
  <div id="DetailsGenerals" class="Details">
    <Navbar/>
    <Rain/>
    <div class="container jumbotron my-5 pt-0">
      <div class="jumbotron pt-0">
        <div class="jumbotron" style="border:solid 5px #E4D8B4;">
          <h1 class="text-center">
            {{infos.ename}}
          </h1>
          <img :src="getImgUrl(infos.code)" alt="Image">
          <div class="col-12">
            <a :href="infos.url" class="eightbit-btn">Register</a>
          </div>
          <br>
          <div class="row text-justify">
            <div class="col-12">
              <h3 class="mb-3 mt-5">Prizes worth {{infos.price}}</h3>
              <p class="text-justify" v-html="infos.desc">{{infos.desc}}</p>
              <h3 style="border-bottom:solid 2px #E4D8B4; display:inline;">Rules and Regulations</h3>
              <p class="text-justify mt-4" v-html="infos.rules">{{infos.rules}}</p>
              <h3 style="border-bottom:solid 2px #E4D8B4; display:inline;">Contact</h3>
              <h6 class="pt-4">{{infos.co_name1}}&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{{infos.co_ph1}}</h6>
              <h6>{{infos.co_name2}}&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{{infos.co_ph2}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Rain from '@/components/Rain'
import axios from 'axios'
export default {
  name: 'Details',
  components: {
    Rain,
    Navbar
  },
  data () {
    return {
      infos: null
    }
  },
  mounted () {
    /* eslint-disable */
    console.log('https://api.dyuksha.org/api/generals/' + this.$route.params.ecode)

    if (this.$route.params.dept !== '') {
      axios
        .get('https://api.dyuksha.org/api/generals/' + this.$route.params.ecode,)
        .then(response => (this.infos = response.data.general))
        .catch(error => {
          console.log(error)
          location.href = '/404'
        })
    }
  },
  methods: {
    getImgUrl(card) {
    var images = require.context('@/assets/images/cards', false, /\.png$/)
    return images('./' + card + ".png")
    }
  }
}
</script>

<style scoped>

*{
  font-family: blinker;
  font-weight: bolder;
  color: #E4D8B4;
}
#DetailsGenerals{
  text-align: center;
}
img{
  image-rendering: pixelated;
  height: 250px;
  transform: rotate(90deg);
  transform-origin: center center;
  border: 10px black solid;
}
.jumbotron{
  background: rgb(0,0,0,0);
}

.eightbit-btn {
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
</style>
