<template>
  <div id="Events">
    <Rain/>
    <Navbar/>
    <div class="container" >
        <div class="col-md-12 pt-5">
            <div class="row" style="padding: 0!important;">
              <div class="col-12">
                <h1>EVENTS</h1>
              </div>
              <!-- <div class="col-lg-4">
                <img src="@/assets/images/e.png" alt="casette" class="mcasette" />
              </div> -->
              <div class="col-lg-12 content col-centered">
                <div class="row crow" >
                  <div class="card col-md-2 col-centered">
                    <a href="/events/cse">
                      <center>
                      <img src='@/assets/images/cards/e_cs.png'  class="scasette">
                      </center>
                      <h6>View details</h6>
                    </a>
                  </div>
                  <div class="card col-md-2 col-centered">
                    <a href="/events/ice">
                      <center>
                      <img src='@/assets/images/cards/e_ic.png'  class="scasette">
                      </center>
                      <h6>View details</h6>
                    </a>
                  </div>
                  <div class="card col-md-2 col-centered">
                    <a href="/events/me">
                      <center>
                      <img src='@/assets/images/cards/e_me.png'  class="scasette">
                      </center>
                      <h6>View details</h6>
                    </a>
                  </div>
                  <div class="card col-md-2 col-centered">
                    <a href="/events/ce">
                      <center>
                      <img src='@/assets/images/cards/e_ce.png'  class="scasette">
                      </center>
                      <h6>View details</h6>
                    </a>
                  </div>
                  <div class="card col-md-2 col-centered">
                    <a href="/events/ece">
                      <center>
                      <img src='@/assets/images/cards/e_ec.png'  class="scasette">
                      </center>
                      <h6>View details</h6>
                    </a>
                  </div>
                  <div class="card col-md-2 col-centered">
                    <a href="/events/eee">
                      <center>
                      <img src='@/assets/images/cards/e_ee.png'  class="scasette">
                      </center>
                      <h6>View details</h6>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Rain from '@/components/Rain'
export default {
  Name: 'Events',
  components: {
    Navbar,
    Rain
  }
}
</script>

<style>
body{
  width: 96%;
}
.jumbotron{
  position: relative;
  z-index: 3;
}
</style>
<style scoped>
  @import '../assets/styles/listing.css';
</style>
