<template>
  <div id="Highlights">
    <Navbar/>
    <Rain/>
    <div class="special pt-5">
      <h1 class="title pt-5 my-3">Special Performances</h1>
      <div class="special-performance">
        <h3>DAY 1</h3>
        <h1>Siddharth Menon</h1>
        <img src="@/assets/images/highlights/guest1.png" alt="Day1" srcset="">
      </div>
      <div class="special-performance">
        <h3>DAY 2</h3>
        <h1>Gowry Lekshmi</h1>
        <img src="@/assets/images/highlights/guest2.png" alt="Day2" srcset="">
      </div>
      <div class="special-performance">
        <h3>DAY 3</h3>
        <h1>Pineapple Express</h1>
        <img src="@/assets/images/highlights/guest3.png" alt="Day3" srcset="">
      </div>
      <div class="mt-5">
        <h5>Tickets are available for Non - NSSIANS.</h5>
        <h5>There is a 20% discount for workshop attendees, only Non - NSSIANS.</h5>
        <h5>For more details contact</h5>
        <h4>Tenin : 9496275781</h4>
      </div>
    </div>

    <div class="joy-of-flying text-center container-flex py-5 px-3">
      <div>
        <h1>Feel The Joy of Flying</h1>
      </div>
      <div class="row m-0 pt-5">
        <div class="col-centered col-lg-8 row py-3" style="border: solid 2px #ffffff;">
          <div class="col-lg-6 p-0">
            <img src="@/assets/images/informals/joy.jpg" style="width:100%;" alt="">
          </div>
          <div class="col-lg-6">
            <div class="text-left pl-5 pt-5" style="font-size:20px;">
              Boomarang Paper Plane
              <br>
              Mini Drone Making
              <br>
              Drone Piloiting
              <br>
              Hand Gesture Controlled
              <br>
              Drone
              <br>
              FPV Piloting
            </div>
            <div class="card mt-2" style="color:brown;font-size:1.5em;">
                  Date : 14 - Feb - 2020
            </div>
            <div class="banner mt-2 p-3">
                  Limited Number of Seats
            </div>
            <div class="pt-5">
              <a href="https://www.yepdesk.com/buy-tickets/5df49142e4b092c8dfd6b0fb/category/1579356066" class="eightbit-btn">
                Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center mb-5">Air Show</h1>
    <Airshow/>
    <div id="manager" class="joy-of-flying text-center container-flex py-5 px-3">
      <div>
        <h1>Football Manager</h1>
      </div>
      <div class="row m-0 pt-5">
        <div class="col-centered col-lg-8 row py-3" style="border: solid 2px #ffffff;">
          <div class="col-lg-6 p-0">
            <img src="@/assets/images/informals/manager.jpg" style="width:100%;" alt="">
          </div>
          <div class="col-lg-6">
            <div class="text-left pl-5 pt-3" style="font-size:20px;">
              DYUKSHA'20 offers you a platform to show how good is your football tactics.
              <br>
              <br>
              Reg Fees:&nbsp;&nbsp;&#8377; 200 Per team
              <br>
              <h4>Prizes worth 3K</h4>
              <br>
              <h5>Contact <br> Pavin P A: 8075545784</h5>
              <br>
            </div>
            <div class="card mt-2" style="color:brown;font-size:1.5em;">
                  Date : 15 - Feb - 2020
            </div>
            <div class="banner mt-2 p-3">
                  Limited Number of Seats
            </div>
            <div class="pt-5">
              <a href="https://www.yepdesk.com/buy-tickets/5df49142e4b092c8dfd6b0fb/category/1581407661" class="eightbit-btn">
                Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="friends" class="joy-of-flying text-center container-flex py-5 px-3">
      <div>
        <h1>Friends Quiz</h1>
      </div>
      <div class="row m-0 pt-5">
        <div class="col-centered col-lg-8 row py-3" style="border: solid 2px #ffffff;">
          <div class="col-lg-6 p-0">
            <img src="@/assets/images/informals/friends.jpg" style="width:100%;" alt="">
          </div>
          <div class="col-lg-6">
            <div class="text-left pl-5 pt-3" style="font-size:20px;">
              DYUKSHA'20 presents you the platform to showcase how well you know Chandler, Joey, Ross, Monica, Rachel and Phoebe
              <br>
              <br>
              Reg Fees:&nbsp;&nbsp;&#8377; 150 Per team
              <br>
              <h4>Prizes worth 2K</h4>
              <br>
              <h5>Contact <br> Sreejith: 9497749908</h5>
              <br>
            </div>
            <div class="card mt-2" style="color:brown;font-size:1.5em;">
                  Date : 16 - Feb - 2020
            </div>
            <div class="banner mt-2 p-3">
                  Limited Number of Seats
            </div>
            <div class="pt-5">
              <a href="https://www.yepdesk.com/buy-tickets/5df49142e4b092c8dfd6b0fb/category/1581407661" class="eightbit-btn">
                Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sell" class="joy-of-flying text-center container-flex py-5 px-3">
      <div>
        <h1>Sell a Product</h1>
      </div>
      <div class="row m-0 pt-5">
        <div class="col-centered col-lg-8 row py-3" style="border: solid 2px #ffffff;">
          <div class="col-lg-6 p-0">
            <img src="@/assets/images/informals/sell.jpg" style="width:100%;" alt="">
          </div>
          <div class="col-lg-6">
            <div class="text-left pl-5 pt-3" style="font-size:20px;">
              DYUKSHA'20 presents you the platform to showcase how good you are with marketing.
              <br>
              <br>
              Reg Fees:&nbsp;&nbsp;&#8377; 50 Per team
              <br>
              <h4>Win Exciting Prizes</h4>
              <br>
              <h5>Contact <br> Balagopal M: 8075249569</h5>
              <br>
            </div>
            <div class="card mt-2" style="color:brown;font-size:1.5em;">
                  Date : 14 - Feb - 2020
            </div>
            <div class="banner mt-2 p-3">
                  Limited Number of Seats
            </div>
            <div class="pt-5">
              <a href="https://www.yepdesk.com/buy-tickets/5df49142e4b092c8dfd6b0fb/category/1581407661" class="eightbit-btn">
                Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center mt-5 pt-5">Informals</h1>
    <Informals/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Rain from '@/components/Rain'
import Airshow from '@/components/Airshow'
import Informals from '@/components/Informals'

export default {
  name: 'Highlights',
  components: {
    Navbar,
    Rain,
    Airshow,
    Informals
  }
}
</script>
<style>
body{
  width: 96%;
  overflow-x: hidden;
}
#app{
  width: 105%;
}
</style>
<style scoped>
*{
  font-family: blinker;
  color: #E4D8B4;
}
#app{
  width: 105%;
}
#Highlights{
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font-family: blinker;
}
.row{
  margin: 0;
}
.col-centered{
  position: relative;
  left:50%;
  transform: translateX(-50%);
}
.title{
  color: #E4D8B4;
}
.informals{
  font-family: Blinker;
}
.informals img{
  width: 100%;
  filter: drop-shadow(10px 10px 0px #888888);
}
.special{
  text-align: center;
  margin:0;
  padding: 0;
}
.special-performance{
  position: relative;
  overflow: hidden;
  padding: 0;
  color: #2b4448 !important;
}
.special-performance:nth-child(2){
  font-family: "Press Start 2P", sans-serif;
  background: rgb(143, 176, 169);
}
.special-performance:nth-child(3){
  font-family: "Press Start 2P", sans-serif;
  background: #Fbd266;
}
.special-performance:nth-child(4){
  font-family: "Press Start 2P", sans-serif;
  background: #758086;
}
.special-performance img{
  width: 50%;
  position: relative;
  bottom: 0;
  left: 100%;
  margin-top: 20px;
  margin-bottom: -10px;
  transform: translateX(-150%);
  -webkit-filter: drop-shadow(-12px 0 0 #272324) drop-shadow(-12px 0 0 #E86F68);
  filter: drop-shadow(-12px 0 0 #272324) drop-shadow(-12px 0 0 #E86F68);
}
.special-performance h1{
  font-family: "Press Start 2P", sans-serif;
  color: #2b4448 !important;
  font-size: 20px;
  max-width: 50%;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
}
.special-performance h3{
  font-family: "Press Start 2P", sans-serif;
  position: absolute;
  margin: 0;
  top: 20px;
  color: #2b4448 !important;
  left: 20px;
}
.joy-of-fly{
  text-align: center;
}
.eightbit-btn {
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
.banner {
  width: 100%;
  font-size: 18px;
  font-family: "Press Start 2P", sans-serif;
  color: #E4D8B4;
  background: #133E4D;
}

@media (orientation: landscape){
  .special-performance{
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 32%;
  }
}
@media (orientation: portrait ){
  .special-performance{
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
  }
}
</style>
