<template>
  <div id="Home">
    <Rain/>
    <div class="lightning"></div>
    <center>
    <div id="home" class="overlay text-center">
      <div class="popup">
        <h2 class="blinking">Limited period offer !!</h2>
           <a class="close" href="#home">×</a>
            <div class="content">
              <img src="@/assets/images/techpkg.jpg" class="poster">
            <div class="container text-center pt-2">
              <a class="eightbit-btn" href="https://www.yepdesk.com/buy-tickets/5df49142e4b092c8dfd6b0fb/category/1579585613">
                Book Your Tickets
              </a>
            </div>
          </div>
      </div>
    </div>
    </center>
    <div class="central">
      <img class="title-sponsor" src="@/assets/images/sponsors/title-sponsor.png" alt="">
      <br>
      <br>
      <img class="title-logo" src="@/assets/images/logo.svg" alt="">
      <br>
      <br>
      <h1 class="h1">Dyuksha '20</h1>
      <br>
      <h4 class="countdown" v-html="countdown"><small>{{countdown}}</small></h4>
      <br>
      <img class="food-partner" src="@/assets/images/sponsors/food-partner.png">
    </div>
    <div class="caption">
      <h3>
        February
        <br>
        <small>14 | 15 | 16</small>
      </h3>
      <br>
      <h4>#GO_Retro</h4>
    </div>
    <div class="college">
      <h3>
        NSS College of
      </h3>
      <h3>
        Engineering, Palakkad
      </h3>
    </div>
  </div>
</template>

<script>
import Rain from '@/components/Rain'
export default {
  name: 'Home',
  components: {
    Rain
  },
  data () {
    return {
      countdown: '...'
    }
  },
  mounted () {
    var countDownDate = new Date('Feb 14, 2020 00:00:00').getTime()
    // Update the count down every 1 second
    var x = setInterval(() => {
      // Get today's date and time
      var now = new Date().getTime()

      // Find the distance between now and the count down date
      var distance = countDownDate - now

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24))
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
      var seconds = Math.floor((distance % (1000 * 60)) / 1000)

      // Display the result in the element with id="demo"
      this.countdown = days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's '

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x)
        this.countdown = '<u>Great Things Are Here</u>'
      }
    }, 1000)
  }
}
</script>

<style>
#app {
  font-family: "Press Start 2P", sans-serif;
}

.title-logo{
  width: 100px;
  -webkit-filter: drop-shadow(2px 4px 0 #272324) drop-shadow(2px 2px 0 #E86F68);
  filter: drop-shadow(2px 4px 0 #272324) drop-shadow(2px 2px 0 #E86F68);
}

.title-sponsor {
  width: 150px;
}
.food-partner{
  width: 90px;
}

#Home{
  background: linear-gradient(to bottom, #202020, #111119);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  text-align: center;
}

.palette div:nth-child(1) {
  background: #272324;
  border: 2px solid #E4D8B4;
}

.palette div:nth-child(2) {
  background: #E4D8B4;
}

.palette div:nth-child(3) {
  background: #E86F68;
}

.central {
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #E4D8B4;
}

.h1 {
  display: inline;
  color: #E4D8B4;
  line-height: 50px;
  font-size: 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(2px 4px 0 #272324) drop-shadow(2px 2px 0 #E86F68);
  filter: drop-shadow(2px 4px 0 #272324) drop-shadow(2px 2px 0 #E86F68);
}

.caption,.countdown,.college{
  color: #E4D8B4;
}
.caption{
  position: absolute;
  bottom:0;
  right: 0;
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  padding: 20px;
}
.college{
  position: absolute;
  left: -170px;
  bottom: -15px;
  padding: 40px;
  transform: scale(0.5);
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  text-align: left;
}
.countdown{
  font-size: 15px;
  line-height: 30px;
}
.lightning {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  animation: flash 5s linear infinite;
}

@keyframes flash {
  0%,
  93%,
  96% {
    background-color: transparent;
  }
  94%,
  97%,
  98% {
    background-color: #E4D8B4;
  }
  96%,
  99%,
  100% {
    background-color: #E86F68;
  }
}

@media (max-width: 600px) {
  .h1 {
    font-size: 25px;
    line-height: 50px;
  }

  .title-logo {
    width: 80px;
  }
  .title-sponsor{
    width: 80px;
  }
  .caption{
    bottom: 50px;
    transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    width: 100%;
  }
  .college{
    left: -20%;
    right: 0;
    bottom:-30px;
    text-align: center;
    transform: scale(0.3) translateX(-50%);
    -moz-transform: scale(0.3) translateX(-50%);
    -ms-transform: scale(0.3) translateX(-50%);
    -webkit-transform: scale(0.3) translateX(-50%);
    width: 200%;
  }
}
</style>
<style scoped>
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    30%{    color: transparent; }
    60%{    color: #000; }
    90%{    color:transparent;  }
    100%{   color: #000;    }
}
.overlay {
  width: 40%;
  top: 0;
  bottom: 0;
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  /* visibility: visible;
  transition: opacity 500ms;
  transition-delay: 2s;
  opacity: 1; */
  -webkit-animation: 4s ease 0s normal forwards fadein;
    animation: 4s ease 0s normal forwards fadein;
}
@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
.overlay:target {
  position: relative;
  top: 0;
  bottom: 0;
  visibility: hidden;
  /* opacity: 0; */
  -webkit-animation: 3s ease 0s normal forwards fadeout;
    animation: 3s ease 0s normal forwards fadeout;
}
@keyframes fadeout{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:0; }
}
@-webkit-keyframes fadeout{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:0; }
}

.content img{
  margin: 5%;
}

.popup {
  margin: 5%;
  padding: 20px;
  padding-bottom: 10px;
  background: #fff;
  opacity: 0.9;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  transition: all 5s ease-in-out;
}
.popup h2{
  font-size: 1em;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  overflow: auto;
}
.poster{
  width: 80%;
}
.eightbit-btn {
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
@media screen and (orientation: portrait){
    .overlay {
      width: auto;
      margin-top: 10%;
    }
    .eightbit-btn{
      padding: 5px;
      font-size: 0.8em;
    }
}

</style>
