<template>
  <div>
    <Navbar/>
    <Home/>
    <About/>
  </div>
</template>

<script>
/* eslint-disable */

import Home from '@/components/Home'
import About from '@/components/About'
import Navbar from '@/components/Navbar'

export default {
  name: 'index',
  components: {
    Home,
    About,
    Navbar
  }
}
</script>

<style>

</style>

