<template>
  <div id="Informals pt-5">
    <div class="row mt-5">
      <div class="text-center col-lg-3 col-md-4 p-5" style="padding-top: 100%;">
        <img class="informal-tile" src="@/assets/images/highlights/lazertag.gif" alt srcset />
        <h4>Laser Tag</h4>
      </div>
      <div class="text-center col-lg-3 col-md-4 p-5">
        <img class="informal-tile" src="@/assets/images/highlights/archery.gif" alt srcset />
        <h4>Archery</h4>
      </div>
      <div class="text-center col-lg-3 col-md-4 p-5">
        <img class="informal-tile" src="@/assets/images/highlights/foamfootball.gif" alt srcset />
        <h4>Foam Football</h4>
      </div>
      <div class="text-center col-lg-3 col-md-4 p-5">
        <img class="informal-tile" src="@/assets/images/highlights/burger.gif" alt srcset />
        <h4>Sumo Suit</h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Informals'
}
</script>

<style scoped>
h4{
  margin-top: 10px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
}
.informal-tile{
  width: 70%;
}
</style>
