<template>
  <div style="text-align:center;" class="pt-5">
      <img src="@/assets/images/dyuksha2020.png" alt="Dyuksha20" class="logo mt-5">
      <br>
      <br>
      <br>
      <img src="@/assets/images/dyuksha2020_1.png" alt="Dyuksha20" class="logo">
  </div>
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style scoped>
.logo {
    width : 250px;
}
</style>
