<template>
  <div id="Navbar" :class="{active : isActive}">
    <button class="nav-btn" @click = "myFilter">
      -- MENU --
    </button>
    <button v-if="$route.name !== 'Index'" class="back-btn" @click = "goBack">
      -- Back --
    </button>
    <div class='nav' :class="{active : isActive}">
      <ul class="nav-items">
        <li class="nav-link"><v-link href="/">Home</v-link></li>
        <li class="nav-link"><v-link href="/events">Events</v-link></li>
        <li class="nav-link"><v-link href="/generals">Generals</v-link></li>
        <li class="nav-link"><v-link href="/workshops">Workshops</v-link></li>
        <li class="nav-link"><v-link href="/technical/package">Technical Package</v-link></li>
        <!-- <li class="nav-link"><v-link href="https://www.yepdesk.com/buy-tickets/5df49142e4b092c8dfd6b0fb/category/1579585613">Technical Package</v-link></li> -->
        <li class="nav-link"><v-link href="/highlights">Highlights</v-link></li>
        <li class="nav-link"><v-link href="/accomodation">Accomodation</v-link></li>
        <li class="nav-link"><v-link href="/contact">Contact</v-link></li>
        <li class="nav-link"><v-link href="/team">Team</v-link></li>
      </ul>
    </div>

  </div>
</template>

<script>
/* eslint-disable no-useless-escape */
import VLink from '@/components/VLink'

export default {
  name: 'Navbar',
  data () {
    return {
      isActive: false
    }
  },
  components: {
    VLink
  },
  methods: {
    /* eslint-disable */
    myFilter: function () {
        this.isActive = !this.isActive
      // some code to filter users
    },
    goBack: function () {
      // some code to filter users
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
*{
  font-family: "Press Start 2P", sans-serif;
}
#Navbar{
  margin: 0;
  position: fixed;
  z-index: 20;
  top:0;
  right:0;
  padding: 0;
  height: auto;
  width: 100vw;
}
.nav{
  margin: 0;
  position: absolute;
  width: 0;
  height: 0;
  background: linear-gradient(to bottom, #202020, #333333, #111119);
  transition: all 0.2s linear 0s;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  left:0;
}
.active{
  width: 110vw;
  height: 100vh;
  border-bottom-right-radius:0;

}
.nav-btn{
  padding: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 12px;
  color: #E4D8B4;
  background: rgb(0,0,0,0);
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 21;
  left:0;
}
.back-btn{
  padding: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 12px;
  color: #E4D8B4;
  background: rgb(0,0,0,0);
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 21;
  right:0;
}
.nav-items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%,-50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.nav-link{
  font-size: 15px;
  line-height: 30px;
}
.nav-link a{
  text-decoration: none;
  outline: none;
  color: #E4D8B4;
}

</style>
