<template>
  <div id="Rain">
    <div class="rain front-row" id="frontRow" ref="frontRow"></div>
    <div class="rain back-row" id="backRow" ref="backRow"></div>
  </div>
</template>

<script>
export default {
  name: 'Rain',
  mounted () {
    var increment = 0
    var drops = ''
    var backDrops = ''

    while (increment < 100) {
      var randoHundo = (Math.floor(Math.random() * (98 - 1 + 1) + 1))
      var randoFiver = (Math.floor(Math.random() * (5 - 2 + 1) + 2))

      increment += randoFiver

      drops += '<div class="drop" style="left: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>'
      backDrops += '<div class="drop" style="right: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>'
    }

    this.$refs.frontRow.innerHTML = drops
    this.$refs.backRow.innerHTML = backDrops
  }
}
</script>

<style>

#Rain{
  position: relative;
  top: 0;
}
.rain {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.rain.back-row {
  z-index: -2;
  bottom: 60px;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(95vh);
  }
  100% {
    transform: translateY(95vh);
  }
}

.stem {
  width: 5px;
  height: 80%;
  margin-left: 7px;
  background: linear-gradient(
    to bottom,
    rgba(232, 111, 104, 0),
    rgba(232, 111, 104, 0.25)
  );
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(232, 111, 104, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

#app.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
</style>
