<template>
  <div id="Team">
    <Navbar/>
    <Rain/>
    <div class="container jumbotron">
    <div class="px-5 row col-centered">
      <div class="col-12 blinker pb-5">
        <h1 style="color: #E4D8B4;font-weight:bolder;">The Team</h1>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/sarang.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Sarang Raj</h3>
        <div class="blinker">Convenor</div>
        <div class="blinker">+91 9961074488</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/anandg.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Anand G</h3>
        <div class="blinker">Convenor</div>
        <div class="blinker">+91 85473657</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/abhinand.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Abhinand GK</h3>
        <div class="blinker">Convenor</div>
        <div class="blinker">+91 8086287473</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/anandas.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Anand AS</h3>
        <div class="blinker">Technical Head</div>
        <div class="blinker">+91 9400544420</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/arun.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Arun</h3>
        <div class="blinker">Sponsorship Head</div>
        <div class="blinker">+91 9895972518</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/anandu.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Anandu Pradeep</h3>
        <div class="blinker">Sponsorship Head</div>
        <div class="blinker">+91 8921957084</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/fazil.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Mohammad Fazil</h3>
        <div class="blinker">Hospitality Head</div>
        <div class="blinker">+91 9048157744</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/gayathri.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Gayathri AV</h3>
        <div class="blinker">Public Relations</div>
        <div class="blinker">+91 8943631936</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/sreejith.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Sreejith VS</h3>
        <div class="blinker">Informals Head</div>
        <div class="blinker">+91 9497749908</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/anirudh.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Anirudh PK</h3>
        <div class="blinker">Promotion Head</div>
        <div class="blinker">+91 9400701368</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/dolbin.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Dolbin Jojo</h3>
        <div class="blinker">Exhibition Head</div>
        <div class="blinker">+91 7025533827</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/vinesh.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Vinesh MK</h3>
        <div class="blinker">Design Head</div>
        <div class="blinker">+91 8891102327</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/allen.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Allen K Abraham</h3>
        <div class="blinker">Website Frontend Developer</div>
        <div class="blinker">+91 8137073386</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/rakesh.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Rakesh Kumar T</h3>
        <div class="blinker">Website Frontend Developer</div>
        <div class="blinker">+91 8129852760</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/abhinav.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Abhinav Krishna CK</h3>
        <div class="blinker">Website Backend Developer</div>
        <div class="blinker">+91 8921662654</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/abhijith.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Abhijith</h3>
        <div class="blinker">Decorations Head</div>
        <div class="blinker">+91 9656374723</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/ashish.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Ashish Shaji</h3>
        <div class="blinker">Mobile App Developer</div>
        <div class="blinker">+91 8129494749</div>
      </div>
      <div class="col-lg-4 col-md-6 p-5 tile">
        <img src="@/assets/images/team/hosam.jpg" class="rounded-circle team-img" />
        <h3 class="py-2 blinker">Hosam Ashraf</h3>
        <div class="blinker">Mobile App Developer</div>
        <div class="blinker">+91 7907489366</div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */ 
import Navbar from '@/components/Navbar'
import Rain from '@/components/Rain'

export default {
  name: 'Team',
  components:{
    Navbar,
    Rain
  }
}
</script>

<style scoped>
  #Team{
    color: #E4D8B4;
    text-align: center;
    background: rgb(0,0,0,0);
  }
  .blinker {
    font-family: "Blinker" !important;
    font-weight: bold;
  }
  .col-centered {
    float: none;
    margin: 0 auto;
  }
  .team-img {
    width: 150px;
  }
  .tile {
    cursor: pointer;
    color: #E4D8B4;
/*    border: 1px solid #eeeeee;*/
    transition: all 0.1s linear 0s;
    background: rgb(255, 255, 255, 0);
  }
  .tile:hover {
    /*box-shadow: 2px 2px 4px #aaaaaa;
    transform: scale(1.01);*/
  }
  .jumbotron {
    background: rgb(0, 0, 0, 0);
  }
</style>
