<template>
  <a v-bind:href="href" v-on:click="go">
    <slot></slot>
  </a>
</template>

<script>
export default {
  name: 'VLink',
  props: {
    href: {
      type: String,
      required: true
    }
  },
  computed: {
    isActive () {
      return this.href === this.$root.currentRoute
    }
  },
  methods: {
    go (event) {
      event.preventDefault()
      this.$root.currentRoute = this.href
      location.href = this.href
    }
  }
}
</script>

<style scoped>
a{
  text-decoration: none;
  color: #E4D8B4;
}
</style>
